version: '2'
services:
    portainer:
        container_name: portainer
        image: portainer/portainer
        ports: 
          - 9000:9000
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - ../../persistance-volumes/portiner/data:/data